.details {
  text-align: center;
  p {
    line-height: 1.8;
    padding-bottom: 2rem;
  }
  i {
    margin: 2rem 0;
    font-size: 3rem;
  }
}
.details-heading {
  font-size: 1.5rem;
  font-weight: $fontWeight;
  color: white;
  padding-bottom: 0.8rem;
}
.interface {
  background: $bg-yellow;
  i {
    color: white;
  }
  p {
    color: white;
  }
}
.media {
  background: $bg-orange;
  i {
    color: rgb(245, 238, 238);
  }
  p {
    color: rgb(245, 238, 238);
  }
}
.mobile {
  background: black;
  p {
    color: rgb(245, 238, 238);
  }
  i {
    color: white;
  }
}
.coding {
  h3 {
    color: black;
  }
}
